
body{
background-color: #FFFFFF;
color: black; 
}


.glowneserie{
	text-align: center;
	color: cyan;
	}

.seria{
	text-align: center-right;
	color:gray;
}


	#container
	{
		width: 1000px;
		margin-left: auto;
		margin-right: auto;
	}
	#logo
	{
		background-color: #F8F8FF;
		color: lightgray;
		text-align: center;
		padding: 15px;
	}
	#nav
	{
		float: left;
		background-color: #F8F8FF;
		width: 150px;
		min-height: 2000px;
		padding: 10px;  
	}
	#content
	{
		float: left;
		padding: 20px;
		width: 640px;
		background-color: white;
		color: black; 
	}  
	
	   
	#ad
	{
		float: left;
		width: 150px;
		min-height: 2000px;
		background-color: #F8F8FF;
		color: black;
	}
	#footer
	{
		clear: both;
		background-color: light-blue;
		color: black;
		text-align: center;
	}	
	
	 #linki {
		text-decoration: none;
		background-color: cyan; 
        color: white;	}
